
body{
    background-color: #23292b;
}
#main{
    background-color: grey;
    box-sizing: border-box;
    margin-left: 15%;
    margin-right: 15%;
}

label, input{
    padding-left: 1em;
}

#add-ToDo, h1, #is-completed{
    margin-left: 16px;
}

#displayComplete{
    float: right;
    width: 50%;
    cursor: pointer;
}

#displayIncomplete{
    float: left;
    width: 50%;
    cursor: pointer;
}

.incomplete{
    border: solid black 1px;
    text-align: center;
    border-radius: 1em;
    background-color: lightskyblue;
    margin-bottom: .25em;
}

.completed{
    border: solid black 1px;
    text-align: center;
    border-radius: 1em;
    background-color: lightgreen;
    margin-bottom: .25em;
}

#incomplete{
    background-color: grey;
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

#complete{
    background-color: grey;
    float: right;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

